* {
    margin: 0;
    padding: 0;
}

body {
    background-image: url(../images/background.png.png);
    text-align: center;
}

h1 {
    font-size: 35px;
    font-family: "Dancing Script", cursive;
    margin-top: 18px;
    color: #05445E;
    text-decoration: underline;
}
h2{
    font-size: 40px;
    color:#05445E;
    font-family: "Italianno", cursive;
    font-weight: 500;
    font-size: 50px;
    text-decoration: underline;
}
.nav {
    height: 30px;
    background-color: #189AB4;
    opacity: 0.7;
    display: flex;
    align-items: center;
}

img {
    margin: 30px;
    width: 44px;
    border: 2px solid #5aaacc;
    border-radius: 10px;
}

.chatbox {
    min-height: 80vh;
    background-image: url(../images/texture-1876097_1280.jpg);
    margin: 30px 0px 5px 0px;
    border: 5px solid #05445E;
    border-radius: 20px;
    background-repeat: no-repeat;
    background-size: cover;
}

#form {
    display: flex;
    justify-content: space-evenly;
}

input {
    height: 30px;
    width: 95%;
    background-color: rgb(188, 235, 235);
    border: 5px solid #05445E;
    border-radius: 20px;
}
button {
    height: 39px;
    width: 5%;
    background: linear-gradient(45deg, #5aaacc, #189AB4);
    border: 3px solid #05445E;
    border-radius: 20px;
    cursor: pointer;
}

a {
    text-decoration: none;
    font-size: 20px;
    color: #ffffff;
    font-family: "Cormorant", serif, sans-serif;
    margin-left: 15px;
    cursor: pointer;
}

#messages {
    background-color: #B1D4E0;
    font-size: 25px;
    font-family: "Italianno", cursive;
    margin: 20px;
    padding: 5px;
    border-radius: 10px;
    max-width: 20%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
    color: #021821;
}
.your_messages {
    background-color: #ccd6c5; 
    color: #021821; 
    border-radius: 10px; 
    padding: 5px; 
    max-width: 20%; 
    margin-left: auto;
    text-align: left; 
    margin-bottom: 10px; 
    font-size: 25px;
    font-family: "Italianno",cursive;
    margin-right: 20px;
    margin-top: 20px;
}
a:hover {
    color: black;
}
.data{
    margin-left: 20px;
}
.server_messages {
    color: #05445E;
    font-family: "Sofia", cursive;
    display: block;
    text-align: center;
}

.meta {
    font-size: 0.8em;
    color: #555;
}

/* Styles for the overlay */
.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    /* Semi-transparent black background */
    justify-content: center;
    align-items: center;
}

/* Styles for the popup box */
.popup-box {
    background: linear-gradient(45deg,#FFC2C7,#B6E5D8,#FBE5C8,#8FDDE7);
    padding: 20px;
    border: solid 5px #FFC2C7;
    border-radius: 15px;
    text-align: center;
    color: #05445E;
    font-family: "Sofia", cursive;
}
ul{
    list-style: none;
}
/* Close button style */
.close-btn {
    cursor: pointer;
    position: absolute;
    top: 10px;
    right: 10px;
    color: #FBE5C8;
    height: 20px;
}

@media (max-width:850px) {
    input {
        width: 90%;
    }

    button {
        width: 10%;
    }
}

@media (max-width:500px) {
    button {
        width: 20%;
    }
    #messages{
        max-width: 50%;
    }
   .your_messages{
    max-width: 50%;
   }
}