*{
    margin: 0;
    padding: 0;
}
body{
    background: linear-gradient(90deg,#DDFFE7,#98D7C2,#167D7F,#29A0B1);
    display: flex;
    align-items: center;
    justify-content: center;
}
main{
    text-align: center;
}
h2{
    font-size: 40px;
    color:#FFC2C7;
    font-family: "Italianno", cursive;
    font-weight: 500;
    font-size: 50px;
    text-decoration: underline;
}
.container{
margin-top: 30px;
 min-height: 600px;
 width: 400px;
 display: flex;
 align-items: center;
 justify-content: center;
 text-align: center;
 background: linear-gradient(45deg,#FFC2C7,#B6E5D8,#FBE5C8,#8FDDE7);
 border: solid 5px #FFC2C7;
 border-radius: 15px;
}
.content{
    min-height: 550px;
    padding: 10px;
    width: 360px;
    border: solid 4px #29A0B1;
    border-radius: 15px;
}
label{
    display: block;
    font-family: "Satisfy",cursive;
    font-size: 25px;
    color: #050A30;
}
input{
    height: 25px;
    background-color: #DDFFE7;
    border-radius: 8px;
}
.adress{
    color: #05445E;
    text-align: center;
    height: 210px;
    font-family: "Satisfy",cursive;
    font-size: 30px;
    border: solid 3px #167D7F;
    margin: 10px 0px 10px 0px;
    border-radius: 12px;
}

button{
    background-color: pink;
    height: 42px;
    width: 100px;
    margin-top: 30px;
    color: #050A30;
    font-family: "Italianno",cursive;
    font-size: 30px;
    text-align: center;
    border: 3px solid #29A0B1;
    border-radius: 20px;
    font-weight: 580;
    cursor: pointer;
}
#m_error{
    font-family: "Italianno",cursive;
    color: rgb(137, 33, 33);
    font-size: 30px;
}
#u_error{
    font-family: "Italianno",cursive;
    color: rgb(137, 33, 33);
    font-size: 30px;
}
#p_error{
    font-family: "Italianno",cursive;
    color: rgb(137, 33, 33);
    font-size: 30px;
}
#l_error{
    font-family: "Italianno",cursive;
    color: rgb(137, 33, 33);
    font-size: 30px;
}

.login_container{
    margin-top: 30px;
    max-height: 350px;
 width: 400px;
 display: flex;
 align-items: center;
 justify-content: center;
 text-align: center;
 background: linear-gradient(45deg,#FFC2C7,#B6E5D8,#FBE5C8,#8FDDE7);
 border: solid 5px #FFC2C7;
 border-radius: 15px;
}
.login_input{
    display: block;
}
.login_content{
    height: 280px;
    padding: 10px;
    width: 360px;
    border: solid 4px #29A0B1;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}
a{
    display: block;
}
@media (min-width:250px) and (max-width : 450px){
    .container{
     width: 250px;
    }
    .adress{
        height: 370px;
    }
    label{
        margin: 5px;
    }
    .login_container{
        width: 250px;
    }
}